{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'medsApp/stylesheet.css' %}"{% now "U" %}>
    <meta charset="UTF-8">
    <title>Main page of the Lorem browser</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            var ths = document.getElementById('tabdiv').getElementsByTagName('thead')[0].getElementsByTagName('tr');
            for (var th of ths) {
                th.children[3].remove();
                th.children[3].remove();
                th.children[7].remove();
            }
            var trs = $('tbody:first').children('tr');
            for (var row of trs) {
                var reg = row.children[3];
                var non = row.children[4];
                var lim = row.children[9];
                var Reg = reg.innerHTML;
                var Non = non.innerHTML;
                var Lim = lim.innerHTML;
                reg.remove();
                non.remove();
                lim.remove();
                $(row).after('<button type="button" class="btn">Details</button><table style="display:none;"><thead><tr><th>Registered funding</th><th>Nonregistered funding</th><th>Limit group</th></tr></thead><tbody><tr><td>' + Reg + '</td><td>' + Non + '</td><td>' + Lim + '</td></tr></tbody></table>');
            }
            $(document).on('click', '#tabdiv', (e) => {
                e.preventDefault();
                const isButton = e.target.nodeName === 'BUTTON';
                if (isButton) {
                    $(e.target).next().toggle();
                }
            });
        });
    </script>
</head>

<body>
{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}

<div class="tableDiv" id="tabdiv">

    {% render_table drugTable 'django_tables2/bootstrap.html' %}

</div>
{% comment %}
<div class="pagingDiv">
    <div class="prevPageLink">
        <a href="{% url 'index' %}"> previous page</a>
    </div>

    <div class="currentPage">
        current page: 34
    </div>


    <div class="nextPageLink">
        <a href="{% url 'index' %}"> next page</a>
    </div>
</div>{% endcomment %}

</body>
</html>

