html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

.tableDiv {
    position: absolute;
    height: 70%;
    width: 90%;
    left: 5%;
    top: 15%;
}

.filtrationDiv {
    background-color: darkgray;
    position: absolute;
    height: 12%;
    width: 60%;
    left: 5%;
    top: 3%;
    border-style: ridge;
}

.medNameInput {
    position: absolute;
    line-height: 20%;
    left: 5%;
    top: 5%;
    width: 20%;
}

.namePrompt {
    position: absolute;
    line-height: 20%;
    left: 27%;
    top: 20%;
    width: 20%;
}

.producerInput {
    position: absolute;
    line-height: 20%;
    left: 55%;
    top: 5%;
    width: 20%;
}

.producerPrompt {
    position: absolute;
    line-height: 20%;
    left: 78%;
    top: 20%;
    width: 20%;
}

.limitGroupInput {
    position: absolute;
    line-height: 20%;
    left: 5%;
    top: 50%;
    width: 20%;
}

.limitPrompt {
    position: absolute;
    line-height: 20%;
    left: 27%;
    top: 62%;
    width: 20%;
}

.filterButton {
    position: absolute;
    background-color: deepskyblue;
    height: 30%;
    left: 55%;
    top: 50%;
    width: 22%;
}

.medNamePrompt {
    position: absolute;
    height: 30%;
    left: 55%;
    top: 50%;
    width: 22%;
}

.pagingDiv {
    background-color: darkgray;
    position: absolute;
    height: 10%;
    width: 40%;
    left: 30%;
    top: 87%;
    border-style: ridge;
}

.prevPageLink {
    position: absolute;
    top: 10%;
    left: 20%;
    height: 40%;
}

.currentPage {
    position: absolute;
    top: 10%;
    left: 40%;
    height: 40%;
}

.nextPageLink {
    position: absolute;
    top: 10%;
    left: 62%;
    height: 40%;
}

table{
    border: 1px solid black;
}

table span {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    overflow: hidden;
    font-size: small;
}

button{
    background-color: #2377f6;
    position: relative;
    font-size: medium;
    width: 7%;
    left: 8%;
    top: 3%;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {

}

.headerSortButton {
    background-color: inherit;
}

a {
  color: black;
    text-decoration: none;
}



